@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root {
    --background: #03305e;
    --border: #5c7292;
    --foreground: #0a4d8b;
}


html, body {
    width: 100svw;
    height: 100svh;
    margin: 0;
}

.background {
    background-color: black;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cont {
    display: flex;
    margin-block: 2vh;
    flex-direction: column;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: flex-end;
    user-select: none;
    height: 26vh;
    width: 12.8vw;
    background-size: 76%;
    margin-inline: 0.7vw;
    margin: 2%;
    background-position-y: 33%;
}
.cont:hover {
    transform: scale(1.1);
    cursor: pointer;
}
.search-bar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.cont p{
    font-size: 1.4rem;
}

.main {
    background-color: #0c8187a8;
    width: 83%;
    height: 67%;
    margin-bottom: -11%;
    margin-right: 0%;
    border: 1px solid var(--border);
    border-radius: 3vh;
    display: flex;
    flex-direction: column;
    padding: 10px;
    padding-top: 0;
    gap: 10px;
    z-index: 999;
}

.header{
    position: absolute;
    height: 88%;
    width: 100%;
    top: -22.2%;
    z-index: 99;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.header img{
    max-width: 100%;
    max-height: 100%;
    object-fit: fill;
}

.title {
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 0.8rem;
    margin: 0;
    text-align: center;
}

.firma {
    position:fixed;
    color: rgb(235, 41, 41);
    font-family: "Roboto", sans-serif;
    bottom:0;
    font-size: 0.8rem;
    width: 100%;
    text-align-last: center;
    font-weight: bolder;
    cursor: pointer;
}
.firma:hover {
    transform: scale(1.1);
}

#foxycount {
    background-image: url('Img/MainImages/foxycount.png');
}
#lionheart {
    background-image: url('Img/MainImages/lionheart.jpg');
}
#blacklist {
    background-image: url('Img/MainImages/blacklist.png');
}
#tierlist {
    background-image: url('Img/MainImages/tierlist.png');
}
#guia {
    background-image: url('Img/MainImages/guia.png');
}
#futuro {
    background-image: url('Img/MainImages/futuro.png');
}
.enlaces {
    bottom: 2%;
    width: 8%;
    height: 52%;
    display: flex;
    z-index: 99999;
    flex-direction: column;
    position: absolute;
}
.izq{
    left: 0;
}
.der{
    right: 0;
}
.contEnlaces{
    position: relative;
    left: 0;
    text-align: center;
    margin: 2%;
    height: 49%;
    width: 75%;
    display: flex;
    filter: brightness(1.2);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;
}
.contEnlaces:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.contEnlaces h2{
    color: antiquewhite;
}
.contEnlaces img{
    width: 90%;
    height: 90%;
    margin: -8%;
    margin-top: -13%;
    border: 2px solid #5c7292;
    padding: 4%;
    border-radius: 100%;
    background-color: #007effa1;
}
.contEnlaces p{
    color: antiquewhite;
    font-weight: bold;
}
a{
    text-decoration: none;
}
.background {
    background-image: url('Img/header.jpg');
    background-size: 100%;
    background-position-y: -178%;
    background-repeat: no-repeat;
    height: 100%;
}
.event-container {
    position: absolute;
    display: flex;
    text-align: center;
    left: 14.5%;
    top: 17.9%;
}
.event-image {
    max-width: 300px;
    height: 84.38px;
    user-select: none;
}
.time-remaining {
    user-select: none;
    position: absolute;
    bottom: 0px;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    border-radius: 5px;
    right: 3px;
    text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}
.event-title{
    user-select: none;
    position: absolute;
    top: -44px;
    color: white;
    text-shadow: 2px 1px 0 #000, -2px -2px 0 #000, 2px -1px 0 #000, -1px 1px 0 #000;
}

@media screen and (max-width: 1366px) {
    .contEnlaces{
        font-size: 0.74rem;
        height: 44%;
        width: 74%;
    }
    .background{
        background-size: 100%;
        background-position-y: -77%;
    }
    .enlaces{
        height: 46%;
        margin-bottom: 3%;
        justify-content: space-between;
    }
    .cont{
        margin: 1.9%;
    }
    .cont p{
        font-size: 1.1rem;
    }
    .event-container{
        left: 14.4%;
        top: 14.3%;
    }
}
@media (max-width: 768px) {
    .enlaces{
        margin-bottom: 3%;
        justify-content: space-between;
        flex-direction: row;
        position: absolute;
        height: 23%;
        width: 47%;
        max-width: 48%;
    }
    .der{
        right: 1%;
    }
    .izq{
        left: 1%;
    }
    .header img {
        max-width: none;
        max-height: none;
        /*transform: scale(0.4) translate(-1%, -43%);*/
    }
    .main{
        width: 100%;
        height: 43%;
        margin-bottom: -12%;
        margin-right: 0%;
        border: 1px solid var(--border);
        border-radius: unset;
        display: flex;
        flex-direction: column;
        padding: 5px;
        padding-top: 5px;
        gap: 10px;
        z-index: 999;
    }
    .cont{
        height: 146%;
        width: 27%;
        background-position-y: 12%;
        background-size: 78%;
    }
    .cont p {
        font-size: 0.83rem;
    }
    .background {
        background-size: 250%;
        background-position-y: -17%;
        background-position-x: 50%;
    }
    .contEnlaces{
        width: 42%;
        font-size: 0.54rem;
        height: 44%;
    }
    .event-container{
        justify-content: center;
        left: unset;
    }
}